*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: #111;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.footerNav{
    margin: 30;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}